.top-buffer{
    margin-top:10px;
}

.persontable tr td:nth-child(2){
    width: 150px;
}

.persontable tr:nth-child(1) td{
    border-top: none;
}
a.nodecoration{
    text-decoration:none;
}

.nav-wl {
    padding: 15px;
}

#googleSignIn.nav-wl {
    padding-top: 9px;
    padding-bottom: 0px;
}