<div class="form-group">
    <label for="title" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
        <input type="text" ng-model="person.name" ng-required="true" class="form-control" id="title" placeholder="Person Name"/>
    </div>
</div>
<div class="form-group">
    <label for="year" class="col-sm-2 control-label">Surname</label>
    <div class="col-sm-10">
        <input type="text" ng-model="person.surname" ng-required="true" class="form-control" id="surname" placeholder="Surname"/>
    </div>
</div>
<div class="form-group">
    <label for="day" class="col-sm-2 control-label">Date of birth</label>
    <div class="col-sm-3">
        <input type="number" ng-model="person.date.day" ng-required="true" class="form-control" id="day" placeholder="Day"/>
    </div>
    <div class="col-sm-3">
        <input type="number" ng-model="person.date.month" ng-required="true" class="form-control" id="month" placeholder="Month"/>
    </div>
    <div class="col-sm-4">
        <input type="number" ng-model="person.date.year" ng-required="true" class="form-control" id="year" placeholder="Year"/>
    </div>
</div>
<div class="form-group">
    <label for="hour" class="col-sm-2 control-label">Time</label>
    <div class="col-sm-3">
        <input type="number" ng-model="person.date.hour" class="form-control" id="hour" placeholder="Hour (24 hours format)"/>
    </div>
    <div class="col-sm-3">
        <input type="number" ng-model="person.date.minutes" class="form-control" id="minutes" placeholder="Minutes"/>
    </div>
</div>
<div class="form-group">
    <label for="tz" class="col-sm-2 control-label">Time Zone</label>
    <div class="col-sm-4">
        <input type="number" ng-model="person.tz" class="form-control" id="tz" placeholder="TZ"/>
    </div>
    <label for="longitude" class="col-sm-2 control-label">Longitude</label>
    <div class="col-sm-4">
        <input type="number" ng-model="person.longitude" class="form-control" id="longitude" placeholder="Longitude"/>
    </div>
</div>
<div class="form-group">
    <label for="plot" class="col-sm-2 control-label">Gender</label>
    <div class="col-sm-3">
        <select ng-model="person.gender" ng-required="true" class="form-control" id="plot" placeholder="Gender">
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary btn-sm" value="Salvează"/>
        <a class="btn btn-primary btn-sm" ui-sref="persons">Înapoi</a>
    </div>
</div>
