<div class="form-group">
    <label for="year" class="col-sm-2 control-label">
        <span>Surname</span>
        <span class="text-danger">(*)</span>
    </label>

    <div class="col-sm-10">
        <input type="text" ng-model="person.surname" ng-required="true" class="form-control" id="surname"
               placeholder="Surname"/>
    </div>
</div>
<div class="form-group">
    <label for="title" class="col-sm-2 control-label">
        <span>Name</span>
        <span class="text-danger">(*)</span>
    </label>

    <div class="col-sm-10">
        <input type="text" ng-model="person.name" ng-required="true" class="form-control" id="title"
               placeholder="Person Name"/>
    </div>
</div>
<div class="form-group">
    <label for="day" class="col-sm-2 control-label">
        <span>Date of birth</span>
        <span class="text-danger">(*)</span>
    </label>

    <div class="col-sm-3">
        <input type="number" ng-model="person.date.day" ng-required="true" class="form-control" id="day"
               placeholder="Day"/>
    </div>
    <div class="col-sm-3">
        <input type="number" ng-model="person.date.month" ng-required="true" class="form-control" id="month"
               placeholder="Month"/>
    </div>
    <div class="col-sm-4">
        <input type="number" ng-model="person.date.year" ng-required="true" class="form-control" id="year"
               placeholder="Year"/>
    </div>
</div>
<div class="form-group">
    <label for="hour" class="col-sm-2 control-label">Time</label>

    <div class="col-sm-3">
        <input type="number" ng-model="person.date.hour" class="form-control" id="hour"
               placeholder="Hour (24 hours format)"/>
    </div>
    <div class="col-sm-3">
        <input type="number" ng-model="person.date.minutes" class="form-control" id="minutes" placeholder="Minutes"/>
    </div>
</div>
<div class="form-group">
    <label for="tz" class="col-sm-2 control-label">Fus orar</label>

    <div class="col-sm-2">
        <input type="number" ng-model="person.tz" class="form-control" id="tz" placeholder="TZ"/>
    </div>
    <label for="dst" class="col-sm-2 control-label">Ora de vară activă</label>
    <!--<div class="col-sm-4">
        <input type="number" ng-model="person.dst_active_at_birth" class="form-control" id="dst" placeholder="Ora de vara"/>
    </div>-->
    <div class="col-sm-2">
        <select ng-model="person.dst_active_at_birth" ng-required="false" class="form-control" id="dst"
                placeholder="Gender">
            <option value="true">Da</option>
            <option value="false">Nu</option>
        </select>
    </div>
    <label for="longitude" class="col-sm-2 control-label">Longitudine</label>

    <div class="col-sm-2">
        <input type="number" ng-model="person.longitude" min="-360" max="360" class="form-control" id="longitude"
               placeholder="Longitude" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"/>
    </div>
</div>
<div class="form-group">
    <label for="gender" class="col-sm-2 control-label">Gender</label>

    <div class="col-sm-3">
        <select ng-model="person.gender" ng-required="true" class="form-control" id="gender" placeholder="Gender">
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label for="notes" class="col-sm-2 control-label">Gender</label>

    <div class="col-sm-3">
        <textarea class="col-sm-3 form-control" id="notes" ng-model="person.notes" placeholder="Notițe"></textarea>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary btn-sm" value="Salvează"/>
        <a class="btn btn-primary btn-sm" ui-sref="persons">Înapoi</a>
    </div>
</div>
