<link rel="stylesheet" href="styles/psquare.css">
<div ng-show="signedIn">
    <table class="table persontable">
        <tr>
            <td>
                <h3>Analiză pentru {{person.name}} {{person.surname}}</h3>

                <p>({{person.date.day}}/{{person.date.month}}/{{person.date.year}})</p>
            </td>
        </tr>
        <tr>
            <td>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td>{{s[1]}}</td>
                            <td>{{s[4]}}</td>
                            <td>{{s[7]}}</td>
                        </tr>
                        <tr>
                            <td>{{s[2]}}</td>
                            <td>{{s[5]}}</td>
                            <td>{{s[8]}}</td>
                        </tr>
                        <tr>
                            <td>{{s[3]}}</td>
                            <td>{{s[6]}}</td>
                            <td>{{s[9]}}</td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Numere operaționale</h3>

                <div ng-repeat="o in op" class="col-md-6 col-sm-12">
                    <h4>Număr operațional {{o.position}}</h4>
                    <span>
                        <div class="col-md-1">
                            <div>{{o.number}}</div>
                        </div>
                        <div class="col-md-10">
                            <p>{{o.details.description}}</p>
                        </div>
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Nivel spiritual {{sl.level}}</h3>
                <span class="col-md-12">
                    <p>{{sl.description}}</p>
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Destin {{d.number}}</h3>
                <span class="col-md-12">
                    <p>{{d.description}}</p>
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Vibrație interioară {{iv.number}}</h3>
                <span class="col-md-12">
                    <p>
                        <span
                            class="col-md-4 col-sm-12"><strong>Planetă:</strong> {{iv.planet}}</span>
                        <span class="col-md-8 col-sm-12"><strong>Calități:</strong> {{iv.qualities}}</span>
                    </p>
                    <p>{{iv.description}}</p>
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Vibrație exterioară {{ev.number}}</h3>
                <span class="col-md-12">
                    <p>{{ev.description}}</p>
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Vibrație cosmică {{cv.number}}</h3>
                <span class="col-md-12">
                    <p>{{cv.description}}</p>
                </span>
            </td>
        </tr>
        <tr ng-repeat="sm in sqm" >
            <td>
                <h3>Semnificația {{sm.title}}</h3>
                <span class="col-md-12">
                    <p ng-repeat="dm in sm.meaning">{{dm.description}}</p>
                </span>
            </td>
        </tr>
    </table>


    <div>
        <a class="btn btn-primary btn-sm" ui-sref="editPerson({id:person._id})">Editează</a>
        <a class="btn btn-primary btn-sm" ui-sref="persons">Înapoi</a>
    </div>
</div>
