<a ui-sref="newPerson" class="btn-primary btn-lg nodecoration">Add New Person</a>
<table class="table persontable">
    <tr>
        <td><h3>All Persons</h3></td>
        <td></td>
    </tr>
    <tr ng-repeat="person in persons">
        <td>{{person.name}} {{person.surname}} ({{person.date.day}}/{{person.date.month}}/{{person.date.year}})</td>
        <td>
            <a class="btn btn-primary btn-xs" ui-sref="viewPersonReport({id:person._id})">Report</a>
            <a class="btn btn-default btn-xs" ui-sref="viewPerson({id:person._id})">View</a>
            <a class="btn btn-danger btn-xs"  ng-click="deletePerson(person)">Delete</a>
        </td>
    </tr>
</table>
