<!--<div ng-show="signedIn">-->
<style>

</style>
<div>
    <a class="btn btn-primary btn-sm" ui-sref="viewPSquareReport({id:person._id})">Psihomatrice</a>
    <a class="btn btn-primary btn-sm" ui-sref="editPerson({id:person._id})">Editează</a>
    <a class="btn btn-primary btn-sm" ui-sref="persons">Înapoi</a>
</div>

<table class="table persontable">
    <tr>
        <td>
            <h3>Analiză BaZi pentru {{person.name}} {{person.surname}}</h3>

            <p>
                <span>Născut: {{person.date.day}}/{{person.date.month}}/{{person.date.year}}</span><span
                ng-show="person.date.hour"> {{person.date.hour}}:{{person.date.minutes}}</span>
                &nbsp;
                <span>{{age}} ani</span>
            </p>

            <p>
                <span>Data astrologică: </span>
                <span ng-show="person.date.hour">{{a.day}}/{{a.month}}/{{a.year}} {{a.hour_int}}:{{a.minute}}</span>
                <span ng-hide="person.date.hour">necunoscută. Adăugați ora nașterii, longitudinea și fusul orar.</span>
            </p>

            <p>
                <span class="text-danger lead" ng-show="person.date.hour!=undefined&&person.tz==undefined">Nu ați specificat fusul orar, longitudinea sau ora de vară! Analiza poate fi incorectă!</span>
            </p>
        </td>
    </tr>
    <tr ng-show="c">
        <td class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <caption>Harta personală</caption>
                <thead>
                <tr>
                    <td class="lead text-primary">Oră</td>
                    <td class="lead text-primary">Zi</td>
                    <td class="lead text-primary">Lună</td>
                    <td class="lead text-primary">An</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="hs hs-visible" style="background-color: {{st[c.hour.hs].colorCode}}">{{c.hour.hs}}
                    </td>
                    <td class="hs hs-visible" style="background-color: {{st[c.day.hs].colorCode}}">{{c.day.hs}}</td>
                    <td class="hs hs-visible" style="background-color: {{st[c.month.hs].colorCode}}">
                        {{c.month.hs}}
                    </td>
                    <td class="hs hs-visible" style="background-color:{{st[c.year.hs].colorCode}}">{{c.year.hs}}
                    </td>
                </tr>
                <tr>
                    <td class="eb" style="background-color: {{br[c.hour.eb].colorCode}}">{{c.hour.eb}}</td>
                    <td class="eb" style="background-color: {{br[c.day.eb].colorCode}}">{{c.day.eb}}</td>
                    <td class="eb" style="background-color: {{br[c.month.eb].colorCode}}">{{c.month.eb}}</td>
                    <td class="eb" style="background-color: {{br[c.year.eb].colorCode}}">{{c.year.eb}}</td>
                </tr>
                <tr>
                    <td class="hs hs-hidden" style="background-color: {{st[br[c.hour.eb].h1].colorCode}}">
                        {{br[c.hour.eb].h1}}
                    </td>
                    <td class="hs hs-hidden" style="background-color: {{st[br[c.day.eb].h1].colorCode}}">
                        {{br[c.day.eb].h1}}
                    </td>
                    <td class="hs hs-hidden" style="background-color: {{st[br[c.month.eb].h1].colorCode}}">
                        {{br[c.month.eb].h1}}
                    </td>
                    <td class="hs hs-hidden" style="background-color: {{st[br[c.year.eb].h1].colorCode}}">
                        {{br[c.year.eb].h1}}
                    </td>
                </tr>
                <tr>
                    <td class="hs hs-hidden" style="background-color: {{st[br[c.hour.eb].h2].colorCode}}">
                        {{br[c.hour.eb].h2}}
                    </td>
                    <td class="hs hs-hidden" style="background-color: {{st[br[c.day.eb].h2].colorCode}}">
                        {{br[c.day.eb].h2}}
                    </td>
                    <td class="hs hs-hidden" style="background-color: {{st[br[c.month.eb].h2].colorCode}}">
                        {{br[c.month.eb].h2}}
                    </td>
                    <td class="hs hs-hidden" style="background-color: {{st[br[c.year.eb].h2].colorCode}}">
                        {{br[c.year.eb].h2}}
                    </td>
                </tr>
                <tr>
                    <td class="hs hs-hidden" style="background-color: {{st[br[c.hour.eb].h3].colorCode}}">
                        {{br[c.hour.eb].h3}}
                    </td>
                    <td class="hs hs-hidden" style="background-color: {{st[br[c.day.eb].h3].colorCode}}">
                        {{br[c.day.eb].h3}}
                    </td>
                    <td class="hs hs-hidden" style="background-color: {{st[br[c.month.eb].h3].colorCode}}">
                        {{br[c.month.eb].h3}}
                    </td>
                    <td class="hs hs-hidden" style="background-color: {{st[br[c.year.eb].h3].colorCode}}">
                        {{br[c.year.eb].h3}}
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
<!--<tr>-->
<span ng-show="l" id="luck_pillars">
    <ul class="pillars">
        <li ng-repeat="luck in l" class="col-md-3 col-sm-4 col-xs-6 pillar" currentLuck="{{$index==currentLuck}}">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <tr class="">
                        <td>{{luck.start}} - {{luck.end}}</td>
                    </tr>

                    <tr class="hs-visible" style="background-color: {{st[luck.hs].colorCode}}">
                        <td>{{luck.hs}}</td>
                    </tr>

                    <tr class="eb" style="background-color: {{br[luck.eb].colorCode}}">
                        <td>{{luck.eb}}</td>
                    </tr>

                    <tr class="hs hs-hidden" style="background-color: {{st[br[luck.eb].h1].colorCode}}">
                        <td>{{br[luck.eb].h1}}</td>
                    </tr>

                    <tr class="hs hs-hidden" ng-show="br[luck.eb].h2"
                        style="background-color: {{st[br[luck.eb].h2].colorCode}}">
                        <td>{{br[luck.eb].h2}}</td>
                    </tr>

                    <tr class="hs hs-hidden" ng-hide="br[luck.eb].h2">
                        <td>{{br[luck.eb].h2}}</td>
                    </tr>

                    <tr class="hs hs-hidden" ng-show="br[luck.eb].h3"
                        style="background-color: {{st[br[luck.eb].h3].colorCode}}">
                        <td>{{br[luck.eb].h3}}</td>
                    </tr>
                </table>
            </div>
        </li>
    </ul>
</span>

<div ng-show="dm" class="col-sm-12">
    <h1 class="bg-primary">Stăpânul Zilei {{dm.id}}</h1>

    <div class="col-md-12 text-with-newlines">{{dm.description}}</div>
    <div class="col-md-12">
        <div class="col-md-6 col-sm-12 bg-success top-buffer">{{dm.positive}}</div>
        <div class="col-md-6 col-sm-12 bg-danger top-buffer">{{dm.negative}}</div>
    </div>
    <br>

    <div class="col-md-12">
        <div class="col-md-6 col-sm-12 text-primary top-buffer"><strong>Calea către fericire:</strong>
            {{dm['path_to_happiness']}}
        </div>
        <div class="col-md-6 col-sm-12 text-primary top-buffer"><strong>Fericirea:</strong> {{dm.happiness}}</div>
    </div>
</div>

<div ng-show="nlt" class="col-sm-12">
    <h1 class="bg-primary">Tip normal de viață: {{nlt.name}} ({{nlt.shortname}})</h1>

    <div class="col-md-12 text-with-newlines">{{nlt.description}}</div>
</div>

<div ng-show="stScores" class="col-sm-12">
    <h1 class="bg-primary">Puterea zeilor</h1>
    <!--NG-IF must be here to delay drawing until the data is populated-->
    <div ng-if="stScores">
        <div gods-strength-pie-chart=""
             chart-data="stScores"
             day-master="dm"
             ordered-stems="ordStems"
             dm-color={{st[c.day.hs].colorCode}}></div>
    </div>
</div>

<div ng-if="sb.length" class="col-sm-12">
    <h1 class="bg-primary">Binoamele zilei</h1>

    <div class="col-sm-12" ng-repeat="starBinomial in sb">
        <h2>
            <span>{{starBinomial.category}}</span>
            <span ng-if="starBinomial.chinese">({{starBinomial.chinese}} {{starBinomial.pinyin}})</span>
        </h2>

        <p>
            <span>{{starBinomial.stem}}</span>
            <span>{{starBinomial.branch}}</span>
            <span>{{starBinomial.season}}</span>
        </p>

        <p>{{starBinomial.description}}</p>
    </div>
    <div>

        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <td class="lead text-primary">Zi</td>
                <td ng-if="starBinomial.season" class="lead text-primary">Lună</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="hs hs-visible" style="background-color: {{st[c.day.hs].colorCode}}">
                    <div>{{c.day.hs}}</div>
                </td>
            </tr>
            <tr>
                <td class="eb" style="background-color: {{br[c.day.eb].colorCode}}">
                    <div>{{c.day.eb}}</div>
                </td>
                <td ng-if="starBinomial.season" class="eb" style="background-color: {{br[c.month.eb].colorCode}}">
                    <div>{{c.month.eb}}</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div ng-if="brRelArray.length" class="col-sm-12">
    <h1 class="bg-primary">Relații în hartă</h1>

    <div class="col-sm-12" ng-repeat="rel in brRelArray">
        <h2 class="text-primary">
            <span ng-hide="rel.relation.subcategory">{{rel.relation.category}}</span>
            <span ng-show="rel.relation.subcategory">{{rel.relation.subcategory}}</span>
        </h2>
        <span class="col-sm-12" ng-repeat="sets in rel.matchingPillars">
            <div class="col-md-12">
                <span ng-repeat="pSet in sets">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <table class="table table-bordered table-striped table-hover">
                            <tr class="">
                                <td class="lead text-primary">{{pillarRoNames[pSet.pillar]}}</td>
                            </tr>

                            <tr class="eb" style="background-color: {{br[pSet.branch].colorCode}}">
                                <td>{{pSet.branch}}</td>
                            </tr>
                        </table>
                    </div>
                </span>
            </div>
        </span>

        <p class="col-md-12 text-with-newlines" ng-if="rel.relation.categoryDescription">
            {{rel.relation.categoryDescription}}</p>

        <p class="col-md-12 text-with-newlines" ng-if="rel.relation.subcategoryDescription">
            {{rel.relation.subcategoryDescription}}</p>

        <p class="col-md-12 text-with-newlines" ng-if="rel.relation.description">{{rel.relation.description}}</p>

        <h3 ng-if="rel.relation.subcategorySolution||rel.relation.categorySolution">Soluție</h3>

        <p class="col-md-12 text-with-newlines" ng-if="rel.relation.categorySolution">
            {{rel.relation.categorySolution}}</p>

        <p class="col-md-12 text-with-newlines" ng-if="rel.relation.subcategorySolution">
            {{rel.relation.subcategorySolution}}</p>
    </div>
</div>

<div ng-show="ss" class="col-sm-12">
    <h1 class="bg-primary">Stele simbolice</h1>

    <h2 class="text-primary">Poziții</h2>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <td class="lead text-primary">Oră</td>
            <td class="lead text-primary">Zi</td>
            <td class="lead text-primary">Lună</td>
            <td class="lead text-primary">An</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="hs hs-visible" style="background-color: {{st[c.hour.hs].colorCode}}">
                <div>{{c.hour.hs}}</div>
                <div ng-repeat="star in ss.hour.hs">{{ssDesc[star.name].name}}</div>
            </td>
            <td class="hs hs-visible" style="background-color: {{st[c.day.hs].colorCode}}">
                <div>{{c.day.hs}}</div>
                <div ng-repeat="star in ss.day.hs">{{ssDesc[star.name].name}}</div>
            </td>
            <td class="hs hs-visible" style="background-color: {{st[c.month.hs].colorCode}}">
                <div>{{c.month.hs}}</div>
                <div ng-repeat="star in ss.month.hs">{{ssDesc[star.name].name}}</div>
            </td>
            <td class="hs hs-visible" style="background-color:{{st[c.year.hs].colorCode}}">
                <div>{{c.year.hs}}</div>
                <div ng-repeat="star in ss.year.hs">{{ssDesc[star.name].name}}</div>
            </td>
        </tr>
        <tr>
            <td class="eb" style="background-color: {{br[c.hour.eb].colorCode}}">
                <div>{{c.hour.eb}}</div>
                <div ng-repeat="star in ss.hour.eb">{{ssDesc[star.name].name}}</div>
            </td>
            <td class="eb" style="background-color: {{br[c.day.eb].colorCode}}">
                <div>{{c.day.eb}}</div>
                <div ng-repeat="star in ss.day.eb">{{ssDesc[star.name].name}}</div>
            </td>
            <td class="eb" style="background-color: {{br[c.month.eb].colorCode}}">
                <div>{{c.month.eb}}</div>
                <div ng-repeat="star in ss.month.eb">{{ssDesc[star.name].name}}</div>
            </td>
            <td class="eb" style="background-color: {{br[c.year.eb].colorCode}}">
                <div>{{c.year.eb}}</div>
                <div ng-repeat="star in ss.year.eb">{{ssDesc[star.name].name}}</div>
            </td>
        </tr>
        </tbody>
    </table>
    <h2 class="text-primary">Semnificații</h2>

    <div ng-repeat="desc in ssDesc">
        <h3>{{desc.name}} ({{desc.chinese}})</h3>

        <p>{{desc.description}}</p>
    </div>
</div>

<div ng-hide="brRelArray" class="col-sm-12">
    <div ng-hide="stScores">
        Pentru a vizualiza restul raportului, aveți nevoie de mai multe drepturi.
    </div>
</div>

<div>
    <a class="btn btn-primary btn-sm" ui-sref="viewPSquareReport({id:person._id})">Psihomatrice</a>
    <a class="btn btn-primary btn-sm" ui-sref="editPerson({id:person._id})">Editează</a>
    <a class="btn btn-primary btn-sm" ui-sref="persons">Înapoi</a>
</div>
<!--</div>-->
