<link rel="stylesheet" href="styles/psquare.css">
<div ng-show="signedIn">
    <table class="table persontable">
        <tr>
            <td>
                <h3>Analiză pentru {{person.name}} {{person.surname}}</h3>

                <p>({{person.date.day}}/{{person.date.month}}/{{person.date.year}})</p>
            </td>
        </tr>
        <tr>
            <td>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td>{{report.square[1]}}</td>
                            <td>{{report.square[4]}}</td>
                            <td>{{report.square[7]}}</td>
                        </tr>
                        <tr>
                            <td>{{report.square[2]}}</td>
                            <td>{{report.square[5]}}</td>
                            <td>{{report.square[8]}}</td>
                        </tr>
                        <tr>
                            <td>{{report.square[3]}}</td>
                            <td>{{report.square[6]}}</td>
                            <td>{{report.square[9]}}</td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Numere operaționale</h3>

                <div ng-repeat="op in report.op" class="col-md-6 col-sm-12">
                    <h4>Număr operațional {{op.position}}</h4>
                <span>
                    <div class="col-md-1">
                        <div>{{op.number}}</div>
                    </div>
                    <div class="col-md-10">
                        <p>{{op.details.description}}</p>
                    </div>
                </span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Nivel spiritual {{report.spiritLevel.level}}</h3>
            <span class="col-md-12">
                <p>{{report.spiritLevel.description}}</p>
            </span>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Destin {{report.destiny.number}}</h3>
            <span class="col-md-12">
                <p>{{report.destiny.description}}</p>
            </span>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Vibrație interioară {{report['interior vibration'].number}}</h3>
            <span class="col-md-12">
                <p>
                    <span
                        class="col-md-4 col-sm-12"><strong>Planetă:</strong> {{report['interior vibration'].planet}}</span>
                    <span class="col-md-8 col-sm-12"><strong>Calități:</strong> {{report['interior vibration'].qualities}}</span>
                </p>
                <p>{{report['interior vibration'].description}}</p>
            </span>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Vibrație exterioară {{report['exterior vibration'].number}}</h3>
            <span class="col-md-12">
                <p>{{report['exterior vibration'].description}}</p>
            </span>
            </td>
        </tr>
    </table>


    <div>
        <a class="btn btn-primary btn-sm" ui-sref="editPerson({id:person._id})">Editează</a>
        <a class="btn btn-primary btn-sm" ui-sref="persons">Înapoi</a>
    </div>
</div>
