<link rel="stylesheet" href="styles/psquare.css">
<div ng-show="signedIn">
    <div>
        <a class="btn btn-primary btn-sm" ui-sref="viewBaZiReport({id:person._id})">Ba Zi</a>
        <a class="btn btn-primary btn-sm" ui-sref="editPerson({id:person._id})">Editează</a>
        <a class="btn btn-primary btn-sm" ui-sref="persons">Înapoi</a>
    </div>

    <h3 class="text-primary">Analiză pentru {{person.name}} {{person.surname}}</h3>

    <p>({{person.date.day}}/{{person.date.month}}/{{person.date.year}})</p>

    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <td>{{s[1]}}</td>
                <td>{{s[4]}}</td>
                <td>{{s[7]}}</td>
            </tr>
            <tr>
                <td>{{s[2]}}</td>
                <td>{{s[5]}}</td>
                <td>{{s[8]}}</td>
            </tr>
            <tr>
                <td>{{s[3]}}</td>
                <td>{{s[6]}}</td>
                <td>{{s[9]}}</td>
            </tr>
        </table>
    </div>

    <div class="col-md-12"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-11">
            <h2 class="bg-primary text-danger">Vibrații</h2>
        </div>
        <div>
            <h3 class="text-primary">Nivel spiritual {{sl.level}}</h3>
            <span class="col-md-12">
                <p class="text-with-newlines">{{sl.description}}</p>
            </span>
        </div>
        <div>
            <h3 class="text-primary">Destin {{d.number}}</h3>
            <span class="col-md-12">
                <p class="text-with-newlines">{{d.description}}</p>
            </span>
        </div>
        <div>
            <h3 class="text-primary">Vibrație interioară {{iv.number}}</h3>
            <span class="col-md-12">
                <p>
                    <span
                        class="col-md-4 col-sm-12"><strong>Planetă:</strong> {{iv.planet}}</span>
                    <span class="col-md-8 col-sm-12"><strong>Calități:</strong> {{iv.qualities}}</span>
                </p>
                <p class="text-with-newlines">{{iv.description}}</p>
            </span>
        </div>
        <div>
            <h3 class="text-primary">Vibrație exterioară {{ev.number}}</h3>
            <span class="col-md-12">
                <p class="text-with-newlines">{{ev.description.trim()}}</p>
            </span>
        </div>
        <div>
            <h3 class="text-primary">Vibrație cosmică {{cv.number}}</h3>
            <span class="col-md-12">
                <p class="text-with-newlines">{{cv.description}}</p>
            </span>
        </div>
    </div>
    <!--div class="col-md-12">
        <h2 class="bg-primary">Numere operaționale</h2>

        <div ng-repeat="o in op" class="col-md-12 col-sm-12">
            <h4 class="text-primary">Număr operațional {{o.position}}</h4>
            <span>
                <div class="col-md-1">
                    <div>{{o.number}}</div>
                </div>
                <div class="col-md-10">
                    <p class="text-with-newlines">{{o.details.description}}</p>
                </div>
            </span>
        </div>
    </div-->
    <div ng-if="sqm" class="col-md-12">
        <h2 class="bg-primary">Semnificațiile căsuțelor din pătrat</h2>

        <div ng-repeat="sm in sqm">
            <h3 class="text-primary">Semnificația {{sm.title}}</h3>
            <span class="col-md-12">
                <p ng-repeat="dm in sm.meaning" class="text-with-newlines">{{dm.description}}</p>
            </span>
        </div>
        <h3 class="text-primary">Combinații prezente</h3>
        <span class="col-md-12">
            <p ng-repeat="c in comb" class="text-with-newlines">{{c.description}}</p>
        </span>

    </div>
    <div ng-if="l" class="col-md-12">
        <h2 class="bg-primary">Liniile din pătrat</h2>

        <div ng-repeat="lIndex in ordLines">
            <h3 class="text-primary">{{l[lIndex].type}} {{l[lIndex].line}} - {{l[lIndex].name}}</h3>

            <div>
                <span class="text-with-newlines">{{l[lIndex].description}}</span>
            </div>
            <div>
                <span class="col-sm-6"><strong>Aspect:</strong> {{l[lIndex].wellbeing}}</span>
            </div>
            <div>
                <span ng-show="l[lIndex].verb" class="col-sm-6"><strong>Verb:</strong> {{l[lIndex].verb}}</span>
                <span ng-show="l[lIndex].level" class="col-sm-6"><strong>Nivel
                    mental:</strong> {{l[lIndex].level}}</span>
            </div>

            <div>
                <span><strong>Număr de cifre: {{lw[l[lIndex].line].weight.count}}</strong></span>
            </div>
            <div>
                <span ng-show="lw[l[lIndex].line].description" class="text-with-newlines">
                    {{lw[l[lIndex].line].description}}
                </span>
            </div>
        </div>
    </div>
    <div ng-if="priorities" class="col-md-12">
        <h2 class="bg-primary">Treptele fericirii</h2>
        <span class="col-md-12" ng-repeat="item in priorities | orderBy:'-weight'">
            <p>
                <strong>{{item.weight}}</strong>
                <span>({{item.number}}) {{item.title}}</span>
            </p>
        </span>
    </div>

    <div ng-if="lc" class="col-md-12">
        <h2 class="bg-primary">Perioadele vieții</h2>
        <span class="col-md-12" ng-repeat="item in lc">
            <h4>
                Perioada {{item.min}} - {{item.max}} ani
                <span ng-show="item.start!='Invalid date'"> ({{item.start}} - {{item.end}})</span>
            </h4>
            <h5>
                Numărul {{item.number}}
            </h5>
            <p>
                <span class="text-with-newlines">{{lcd[item.number].description}}</span>
            </p>
        </span>
    </div>

    <div ng-show="chalDesc" class="col-md-12">
        <h2 class="bg-primary">Provocări</h2>
        <span class="col-md-12" ng-repeat="item in chalArr">
            <h4>
                Perioada {{chAndOpIntervals[item.position-1].min}} - {{chAndOpIntervals[item.position-1].max}} ani
                <span ng-show="chAndOpIntervals[item.position-1].start!='Invalid date'"> ({{chAndOpIntervals[item.position-1].start}} - {{chAndOpIntervals[item.position-1].end}})</span>
            </h4>
            <p class="lead">
                <strong>Numărul {{item.value}}, {{chalDesc[item.value].title}}</strong>
            </p>
            <p>
                <span class="text-with-newlines">{{chalDesc[item.value].description}}</span>
            </p>
            <p>
                <span class="text-with-newlines">Ca sugestie, {{chalDesc[item.value].suggestion}}</span>
            </p>
        </span>
    </div>

    <div ng-show="opportDesc" class="col-md-12">
        <h2 class="bg-primary">Oportunități</h2>
        <span class="col-md-12" ng-repeat="item in opportArr">
            <h4>
                Perioada {{chAndOpIntervals[item.position-1].min}} - {{chAndOpIntervals[item.position-1].max}} ani
                <span ng-show="chAndOpIntervals[item.position-1].start!='Invalid date'"> ({{chAndOpIntervals[item.position-1].start}} - {{chAndOpIntervals[item.position-1].end}})</span>
            </h4>
            <p class="lead">
                <strong>Numărul {{item.value}}, {{opportDesc[item.value].title}}</strong>
            </p>
            <p>
                <span class="text-with-newlines">{{opportDesc[item.value].description}}</span>
            </p>
        </span>
    </div>

    <div ng-if="luckChartNumber" class="col-md-12">
        <h2 class="bg-primary">Graficul Norocului</h2>

        <p class="lead">{{luckChartNumber}}</p>

        <div linear-chart chart-data="luckChart"></div>
        <div class="col-md-8 col-sm-10 col-xs-12 table-responsive">
            <table class="table table-bordered table-striped table-hover table-sm">
                <thead class="thead-inverse">
                <tr>
                    <th ng-repeat="d in luckChart">
                        <p>{{d.value}}</p>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in luckYears">
                    <td ng-repeat="year in row">{{year}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <h3 class="text-primary">Prima cifră</h3>

            <p>
                Deoarece prima cifră este <span>{{luckChart[0].value}}</span>,
                {{luckChartDesc[luckChart[0].value].first}}
            </p>
        </div>
        <div ng-if="lc" class="col-md-12">
            <h3 class="text-primary">Descrierea perioadelor</h3>

            <p>{{luckChartDesc[luckChart[0]].first}}</p>
            <span class="col-md-12" ng-repeat="item in luckChartDesc | orderBy:'id'">
                <h4>
                    Perioada {{item.id}}
                </h4>
                <p>
                    <span class="text-with-newlines">{{item.description}}</span>
                </p>
            </span>
        </div>

    </div>

    <div ng-hide="luckChartNumber" class="col-sm-12">
        <div ng-hide="stScores">
            Pentru a vizualiza restul raportului, aveți nevoie de mai multe drepturi.
        </div>
    </div>

    <div>
        <a class="btn btn-primary btn-sm" ui-sref="viewBaZiReport({id:person._id})">Ba Zi</a>
        <a class="btn btn-primary btn-sm" ui-sref="editPerson({id:person._id})">Editează</a>
        <a class="btn btn-primary btn-sm" ui-sref="persons">Înapoi</a>
    </div>
</div>
