<div ng-show="signedIn">
    <table class="table persontable">
        <tr>
            <td><h3>Detalii pentru {{person.name}} {{person.surname}}</h3></td>
        </tr>
        <tr>
            <td>Nume</td>
            <td>{{person.name}}</td>
        </tr>
        <tr>
            <td>Prenume</td>
            <td>{{person.surname}}</td>
        </tr>
        <tr>
            <td>Dată de naștere</td>
            <td>{{person.date.day}}/{{person.date.month}}/{{person.date.year}}</td>
        </tr>
        <tr>
            <td>Oră</td>
            <td>{{person.date.hour}}:{{person.date.minutes}}</td>
        </tr>
        <tr>
            <td>Fus orar</td>
            <td>{{person.tz}}</td>
        </tr>
        <tr>
            <td>Longitudine</td>
            <td>{{person.longitude}}</td>
        </tr>
        <tr>
            <td>Sex</td>
            <td>{{person.gender}}</td>
        </tr>
    </table>
    <div>
        <a class="btn btn-primary btn-sm" ui-sref="editPerson({id:person._id})">Edit</a>
        <a class="btn btn-primary btn-sm" ui-sref="persons">Înapoi</a>
    </div>
</div>
<p ng-hide="signedIn">Conectați-vă cu contul Google pentru a putea folosi aplicația</p>

