<table class="table persontable" ng-show="signedIn">
    <tr>
        <td><h3>Details for {{person.name}} {{person.surname}}</h3></td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{person.name}}</td>
    </tr>
    <tr>
        <td>Surname</td>
        <td>{{person.surname}}</td>
    </tr>
    <tr>
        <td>Date</td>
        <td>{{person.date.day}}/{{person.date.month}}/{{person.date.year}}</td>
    </tr>
    <tr>
        <td>Time zone</td>
        <td>{{person.tz}}</td>
    </tr>
    <tr>
        <td>Longitude</td>
        <td>{{person.longitude}}</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>{{person.gender}}</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary btn-xs" ui-sref="editPerson({id:person._id})">Edit</a>
    <a class="btn btn-primary btn-sm" ui-sref="persons">Înapoi</a>
</div>
