<!-- White Lotus screen -->
<div class="text-center">
  <table id="phones" ng-if="results.length > 0" style="float: none;">
    <tr  style="float: none;">
      <th>Nume</th>
      <th>Data</th>
      <th>Acțiuni</th>
    </tr>
    <tr ng-repeat="person in results" style="float: none;">
      <td>{{person.person}}</td>
      <td>{{person.number}}</td>
      <td>
        <a href="#/edit/{{person.objectId}}" class="link">Edit</a>
        <a href="#/delete/{{person.objectId}}" class="link">Delete</a>
      </td>
    </tr>
  </table>
  <p ng-if="!results.length">Nu există persoane în listă</p>
  <p><a href="#/addPerson" class="button">Adaugă o persoană</a></p>
</div>
