<!-- Registration screen -->
<div id="register-form" class="dialog-box">
  <h1>{{pageTitle}}</h1>
  <p>
    <label for="username">Username:</label>
    <input type="text" id="username" ng-model="userData.username"/>
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" id="password" ng-model="userData.password"/>
  </p>
  <p>
    <label for="fullName">Full Name:</label>
    <input type="text" id="fullName" ng-model="userData.fullName" />
  </p>
  <p class="buttons">
    <a href="" ng-if="isRegister" ng-click="register(userData)" class="button">Register</a>
    <a href="" ng-if="!isRegister" ng-click="update(userData)" class="button">Edit</a>
    <a href="#/login" class="link">Login</a>
  </p>
</div>
